/node_modules
/public/hot
/public/ico-512.png
/public/Logo-512.png
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
